// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
$first-font: 'Helvetica', sans-serif;
$second-font: 'Space Grotesk', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$white: #FFFFFF;
$yellow: #FFC600;
$orange: #FF6B00;
$green: #93D500;
$blue: #0097CE;
$purple: #9D1D96;
$red: #EA0029;
$pink: #FFB1B9;
$grey: #F0F0F0;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$extra: 900